<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">盎然</h1>
      <p class="slogan"> Pleasure - by yourself & with your partner
        <br>
        挤挤总会有的
      </br>
      </p>
      <p class="lead">
        <%= link_to '浏览商品', products_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">给 你</h2>
        <p class="lead">探寻自己
        <br> 取悦自己 </br>
        <br>独处也欢愉</br>
      </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">给 你们 </h2>
        <p class="lead">想激情？
        <br> 还是想有趣？</br>
        <br> 你们一起决定</br>
      </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">盎然</h2>
        <p class="lead">享受性趣|盎然
          <br>我们用科学的方法玩玩具 </br> <a target="_blank" href="http://zhibimo.com/read/xiaolai/ji-ji-du-hui-you-de--xie-gei-nv-sheng-de-xing-gao-chao-zhi-nan/index.html">欢迎加入"挤挤总会有"用户交流社区。</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
