<div class="cart_items" id="cart_items_list">
  <% current_cart.cart_items.each do |cart_item| %>

    <%= render :partial => "cart_item", :locals => { :cart_item => cart_item }  %>

  <% end %>
</div>


<br>

<div class="total clearfix">
  <span class="pull-right">
  <span id="cart_items_total_price">总计 <%= render_cart_total_price(current_cart)%> RMB
  </span>
</span>
</div>

<hr>

<div class="checkout clearfix">
  <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right")%>
</div>
