<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h3 class="title"></h3>
      <p class="slogan">
        <br>

      </br>
      <br></br>
      <br></br>
      </p>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h2>购物车</h2>
    <div class="pull-right" style="margin-bottom: 10px; margin-top:-50px;">
      <%= link_to("清空购物车", clean_carts_path, method: :delete, class: "btn btn-danger")%>
    </div>

    <div class="shopping-cart clearfix">
       <label class="col-md-2 product-image-cart">商品</label>
       <label class="col-md-2 product-title-cart">名称</label>
       <label class="col-md-2 product-price-cart">单价</label>
       <label class="col-md-2 product-quantity-cart">数量</label>
       <label class="col-md-2 product-line-price-cart">小计</label>
       <label class="col-md-2 product-removal-cart">操作</label>
    </div>
    <div class="cart_items">
      <%= render :partial => "cart_items" %>
    </div>

  </div>
</div>
